html,body{
    margin: 0;
    padding: 0;
    background: url("../images/login_bg.jpg") no-repeat ;
    background-size: cover;
}
.LoginAndReg{
    position: absolute;
    width: 400px;
    height:355px;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%,-50%);

}
.box_title{
    
    height: 60px;
    background:url("../images/login_title.png") no-repeat center;

}
.login-box,.regist-box{
    padding: 10px;
}
.regist-box{
    display: none;
}
.layui-btn{
    background-color: #1890ff;
}
.login_regist a{
    color: #1890ff;
}
.layui-form-item{
    position: relative;
}
.layui-icon{
    position:absolute;
    top: 10px;
    left: 10px;
}
.layui-input{
    padding-left: 32px;
}